<?xml version="1.0"?>
<root>
    <replacementdef>
        <replacementname>HAPPY_RETURN</replacementname>
        <replacementvalue>
            <![CDATA[
                <block>
                    <autogen>
                        __KeyToKey__
                        KeyCode::H, MODIFIERFLAG_EITHER_LEFT_OR_RIGHT_SHIFT | MODIFIERFLAG_EITHER_LEFT_OR_RIGHT_CONTROL,
                        KeyCode::CURSOR_UP, KeyCode::CURSOR_RIGHT, VK_COMMAND, KeyCode::RETURN
                    </autogen>
                    <autogen>
                        __KeyToKey__
                        KeyCode::H, MODIFIERFLAG_EITHER_LEFT_OR_RIGHT_SHIFT,
                        KeyCode::CURSOR_RIGHT, VK_COMMAND, KeyCode::RETURN
                    </autogen>
                </block>

                <block>
                    <autogen>__KeyToKey__ KeyCode::Y, MODIFIERFLAG_EITHER_LEFT_OR_RIGHT_SHIFT, KeyCode::FORWARD_DELETE</autogen>
                    <autogen>__KeyToKey__ KeyCode::Y, KeyCode::DELETE</autogen>
                    <autogen>__KeyToKey__ KeyCode::N, MODIFIERFLAG_EITHER_LEFT_OR_RIGHT_SHIFT, KeyCode::DELETE</autogen>
                    <autogen>__KeyToKey__ KeyCode::N, KeyCode::FORWARD_DELETE</autogen>
                    <autogen>__KeyToKey__ KeyCode::H, KeyCode::RETURN</autogen>
                </block>
            ]]>
        </replacementvalue>
    </replacementdef>

    <replacementdef>
        <replacementname>SLASH_TOGGLE_FORCE_OFF_ALL</replacementname>
        <replacementvalue>
            <![CDATA[
                KeyCode::VK_CONFIG_FORCE_OFF_notsave_FASTTYPE_MODE,
                KeyCode::VK_CONFIG_FORCE_OFF_notsave_F_FANCY_FOR_CURSOR,
                KeyCode::VK_CONFIG_FORCE_OFF_notsave_J_JUNIOR_FOR_PROGRAMKEYS,
                KeyCode::VK_CONFIG_FORCE_OFF_notsave_D_DIVINE_FOR_MOUSE,
                KeyCode::VK_CONFIG_FORCE_OFF_notsave_A_PAD_FOR_NUMPAD,
                KeyCode::VK_CONFIG_FORCE_OFF_notsave_P_POWER_FOR_PSD,
                KeyCode::VK_CONFIG_FORCE_OFF_notsave_Z_ZIPPO_FOR_CUSTOM_KEYS,
            ]]>
        </replacementvalue>
    </replacementdef>

    <vkopenurldef>
        <name>KeyCode::VK_OPEN_URL_SHELL_BUFFER_RANDOM_STRING</name>
        <url type="shell"><![CDATA[    cat /dev/urandom | env LC_CTYPE=C tr -dc 'a-zA-Z0-9' | fold -w 32 | head -n 1 | /usr/bin/pbcopy  ]]></url>
    </vkopenurldef>

    <vkopenurldef>
        <name>KeyCode::VK_OPEN_URL_SHELL_BUFFER_TIME</name>
        <url type="shell"><![CDATA[    /bin/date | /usr/bin/pbcopy    ]]></url>
    </vkopenurldef>

    <vkopenurldef>
        <name>KeyCode::VK_OPEN_URL_SHELL_MOUSE_CURSOR_CENTER</name>
        <url type="shell">
            <![CDATA[
                /Applications/Karabiner.app/Contents/Library/utilities/bin/warp-mouse-cursor-position front_window middle 0 center 0
            ]]>
        </url>
    </vkopenurldef>

    <modifierdef>HAPPY_SCROLL</modifierdef>
    <modifierdef>HAPPY_JUMP</modifierdef>

</root>