<?xml version="1.0"?>
<root>

    <!-- Vendors -->
    <devicevendordef>
        <vendorname>Topre</vendorname>
        <vendorid>0x0853</vendorid>
    </devicevendordef>

    <deviceproductdef>
        <productname>HHKB</productname>
        <productid>0x0100</productid>
    </deviceproductdef>

    <!-- Apps -->
    <replacementdef>
        <replacementname>Jet_Brains</replacementname>
        <replacementvalue>PhpStorm, RubyMine, IntelliJ, WebStrom, Clion</replacementvalue>
    </replacementdef>

    <appdef>
        <appname>Emacs</appname>
        <equal>org.gnu.Emacs</equal>
    </appdef>

    <appdef>
        <appname>PhpStorm</appname>
        <prefix>com.jetbrains.PhpStorm</prefix>
    </appdef>

    <appdef>
        <appname>RubyMine</appname>
        <prefix>com.jetbrains.rubymine</prefix>
    </appdef>

    <appdef>
        <appname>IntelliJ</appname>
        <prefix>com.jetbrains.intellij</prefix>
    </appdef>

    <appdef>
        <appname>WebStrom</appname>
        <equal>com.jetbrains.WebStrom</equal>
    </appdef>

    <appdef>
      <appname>Clion</appname>
      <equal>com.jetbrains.Clion</equal>
    </appdef>

    <appdef>
      <appname>ALFRED</appname>
      <equal>com.alfredapp.Alfred</equal>
      <equal>com.runningwithcrayons.Alfred-2</equal>
    </appdef>

    <!-- General -->

    <replacementdef>
        <replacementname>HAPPY_RETURN</replacementname>
        <replacementvalue>
            <![CDATA[
                <autogen>__KeyToKey__ KeyCode::SPACE, KeyCode::VK_MODIFIER_HAPPY_SUPER</autogen>
                <block>
                    <modifier_only>ModifierFlag::HAPPY_SUPER</modifier_only>
                    <autogen>__KeyToKey__ KeyCode::Y, VK_SHIFT, KeyCode::FORWARD_DELETE, VK_OPTION</autogen>
                    <autogen>__KeyToKey__ KeyCode::Y, KeyCode::DELETE, VK_OPTION</autogen>
                    <autogen>__KeyToKey__ KeyCode::N, VK_SHIFT, KeyCode::DELETE, VK_OPTION</autogen>
                    <autogen>__KeyToKey__ KeyCode::N, KeyCode::FORWARD_DELETE, VK_OPTION</autogen>
                    <autogen>__KeyToKey__ KeyCode::H, KeyCode::CURSOR_UP, KeyCode::CURSOR_RIGHT, VK_COMMAND, KeyCode::RETURN</autogen>
                </block>
                <block>
                    <autogen>__KeyToKey__ KeyCode::Y, VK_SHIFT, KeyCode::FORWARD_DELETE</autogen>
                    <autogen>__KeyToKey__ KeyCode::Y, KeyCode::DELETE</autogen>
                    <autogen>__KeyToKey__ KeyCode::N, VK_SHIFT, KeyCode::DELETE</autogen>
                    <autogen>__KeyToKey__ KeyCode::N, KeyCode::FORWARD_DELETE</autogen>
                    <autogen>__KeyToKey__ KeyCode::H, VK_SHIFT, KeyCode::CURSOR_RIGHT, VK_COMMAND, KeyCode::RETURN</autogen>
                    <autogen>__KeyToKey__ KeyCode::H, KeyCode::RETURN</autogen>
                </block>
            ]]>
        </replacementvalue>
    </replacementdef>

    <replacementdef>
        <replacementname>SLASH_TOGGLE_FORCE_OFF_ALL</replacementname>
        <replacementvalue>
            <![CDATA[
                KeyCode::VK_CONFIG_FORCE_OFF_notsave_MODE_MESSAGE_F,
                KeyCode::VK_CONFIG_FORCE_OFF_notsave_MODE_MESSAGE_J,
                KeyCode::VK_CONFIG_FORCE_OFF_notsave_MODE_MESSAGE_D,
                KeyCode::VK_CONFIG_FORCE_OFF_notsave_MODE_MESSAGE_W,
                KeyCode::VK_CONFIG_FORCE_OFF_notsave_MODE_MESSAGE_P,
                KeyCode::VK_CONFIG_FORCE_OFF_notsave_MODE_MESSAGE_Z,
                KeyCode::VK_CONFIG_FORCE_OFF_notsave_FASTTYPE_MODE,
                KeyCode::VK_CONFIG_FORCE_OFF_notsave_F_FANCY,
                KeyCode::VK_CONFIG_FORCE_OFF_notsave_J_JUNIOR,
                KeyCode::VK_CONFIG_FORCE_OFF_notsave_D_DIVINE,
                KeyCode::VK_CONFIG_FORCE_OFF_notsave_W_WANDER,
                KeyCode::VK_CONFIG_FORCE_OFF_notsave_P_PRIVATE,
                KeyCode::VK_CONFIG_FORCE_OFF_notsave_Z_ZIPPO,
            ]]>
        </replacementvalue>
    </replacementdef>

    <!-- Operations -->

    <vkopenurldef>
        <name>KeyCode::VK_OPEN_URL_SHELL_BUFFER_RANDOM_STRING</name>
        <url type="shell"><![CDATA[    cat /dev/urandom | env LC_CTYPE=C tr -dc 'a-zA-Z0-9' | fold -w 32 | head -n 1 | /usr/bin/pbcopy  ]]></url>
    </vkopenurldef>

    <vkopenurldef>
        <name>KeyCode::VK_OPEN_URL_SHELL_BUFFER_TIME</name>
        <url type="shell"><![CDATA[    /bin/date | /usr/bin/pbcopy    ]]></url>
    </vkopenurldef>

    <vkopenurldef>
        <name>KeyCode::VK_OPEN_URL_SHELL_MOUSE_CURSOR_CENTER</name>
        <url type="shell">
            <![CDATA[
                /Applications/Karabiner.app/Contents/Library/utilities/bin/warp-mouse-cursor-position front_window middle 0 center 0
            ]]>
        </url>
    </vkopenurldef>

    <!-- Modifiers Defines -->

    <modifierdef>HAPPY_SUPER</modifierdef>
    <modifierdef>HAPPY_JUMP</modifierdef>

</root>
